:root {
  --animation-time: 1.2s;
}

#left-arrow {
  transform-box: fill-box;
  transform-origin: center;
  animation: fadeInLeft var(--animation-time) ease forwards infinite;
}

@keyframes fadeInLeft {
  40% {
    transform: translateX(-50%);
  }

  /* 60% {
    transform: translateX(10%);
  }

  80% {
    transform: translateX(-10%);
  } */

  100% {
    transform: translateX(0%);
  }
}

#right-arrow {
  transform-box: fill-box;
  transform-origin: center;
  animation: fadeInRight var(--animation-time) ease forwards infinite;
}

@keyframes fadeInRight {
  40% {
    transform: translateX(50%);
  }

  /* 60% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(10%);
  } */

  100% {
    transform: translateX(0%);
  }
}

#name {
  transform-box: fill-box;
  transform-origin: center;
  animation: grow var(--animation-time) ease forwards infinite;
}

@keyframes grow {
  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
